Pillow
tqdm
numpy
transformers
torch>=1.11.0
requests
bitsandbytes
accelerate
spacy
huggingface-cli
git+https://github.com/huggingface/transformers.git@2ef774211733f0acf8d3415f9284c49ef219e991
pytesseract
